<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>age</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td>
                    <form action="http://localhost:8080/Java_Spring_MVC_Hibernate_war_exploded/delete" method="post">
                        <input type="hidden" name="id" th:value="${user.getId()}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="http://localhost:8080/Java_Spring_MVC_Hibernate_war_exploded/update" method="get">
                        <input type="hidden" name="id" th:value="${user.getId()}">
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
        </table>
        <form action="http://localhost:8080/Java_Spring_MVC_Hibernate_war_exploded/pageAdd" method="get">
            <button type="submit">Add User</button>
        </form>
    </body>
</html>